body, html{
    padding:0;
    margin:0;
}

body{
    background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
	background-color:#4091ab;
}

//Nav bar
.mainnav{
    background-color: rgb(62, 81, 90) !important;
}

.card{
    padding: 0 !important;       
    
    .temperature{
        position: absolute;
        bottom: 0;
        left: 1rem;
        color: #fff;
        font-size: 5rem;
        z-index: 1;
    }
    
    .card-image img {
        height: 14rem !important;
    }
    
    .dropCard{
        position: absolute;
        z-index: 2;
        color: white;
        right: 1rem;
        top: 1rem;
        opacity: 0;
        transition: opacity ease 1s;
    }
    
    &:hover > .dropCard{
        opacity: 1;
    }
}

nav .brand-logo{
    margin-left: 1rem;
}